{% extends 'cadmin/base_admin.html'%}
{% load crispy_forms_tags %}
{% block title %}
    Profile - {{ block.super }}
{% endblock %}

{% block main %}

    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{%if message.tags %} class = "{{ message.tags }}" {% endif %}>{{message }}</li>
            {% endfor %}
        </ul>
    {% endif%}
        {% if request.user.is_staff %}
        <p>{{ user.username }}</p>
        {% else%}
        <form method="POST" enctype = "multipart/form-data"> 
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{u_form|crispy}}
                <div>
                    {{p_form.as_p}}
                </div>
                
            </fieldset>
            <div class="form-group">
                <button class="waves-effect waves-light btn-large" type="submit">Update</button>
            </div>
        </form>
        {%endif%}
    </div>
    

{% endblock %}