{% extends 'cadmin/base_admin.html'%}
{% load crispy_forms_tags %}
{% block title %}
    Profile - {{ block.super }}
{% endblock %}

{% block main %}

    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{%if message.tags %} class = "{{ message.tags }}" {% endif %}>{{message }}</li>
            {% endfor %}
        </ul>
    {% endif%}
    {% for category in category %}           
    <div class="row">
        <div class="col s12 m6">
        <div class="card light-grey darken-1">
   
            <div class="card-content ">
                <span>Category: <a href="{{ category.get_absolute_url }}">{{ category.name }}</a></span>
            
            </div>   
             
        </div>
        </div>
        </div>
    {%empty%}
        <h4>You havenot yet made any category</h4>
        <p>Click <a href="{% url 'blog:category-create'%}">here</a> to make one</p>
    {%endfor%}
    </div>
    
    </div>
    

{% endblock %}